/* FONT */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

/* RESET */
*, *::before, *::after {
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  text-decoration: none;
}

img, svg {
  display: block;
  max-width: 100%;
  margin-inline: auto;
}

/* INIT-VALUES */
:root {
  --clr-accent: #3E7D86;
  --clr-accent-muted: #BBD8DD;
}

body {
  font-family: 'Poppins', sans-serif;
}

section {
  position: relative;
}

/* UTILITIES */
.clr-accent {
  color: var(--clr-accent);
}

.clr-neutral {
  color: white;
}

.clr-dark {
  color: black;
}

.bg-accent {
  background-color: var(--clr-accent);
}

.bg-neutral {
  background-color: white;
}

.bg-dark {
  background-color: #373435;
}

.fs-l {
  font-size: 2rem;
}

.fs-m {
  font-size: 1.5rem;
}

.fs-s {
  font-size: 1rem;
}

.fs-xs {
  font-size: .5rem;
}

.fw-n {
  font-weight: 400;
}

.fw-sb {
  font-weight: 600;
}

.fw-b {
  font-weight: 700;
}

.txt-center {
  text-align: center;
}

.hidden {
  display:none !important;
}

header {
  padding: 10px 0;
}

.conffetti {
  position:absolute;
  inset: 0;
  height: 100%;
  width: auto;
  mix-blend-mode: multiply;
}

/* HERO */
.hero-container {
  background: radial-gradient( 2px circle at center, 
  var(--clr-accent-muted) 50%, 
  var(--clr-accent) 50% );
  background-size: 1rem 1rem;
  padding: 60px 0;
}

.hero-image {
  margin: 40px 0;
}

.divider {
  margin-inline: auto;
  height: 5px;
  width: 40px;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

/* CHOOSE US */
.choose-us-container {
  padding: 3rem 0;
}

.sample {
  width: fit-content;
  margin-top: 2rem;
  display:flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
}

.sample-button {
  display:flex;
  align-items: center;
  gap: 1.5rem;
  box-shadow: 0 5px 3px rgba(0, 0, 0, .2);
  border-radius: 3rem;
  padding: 0.5rem 1rem;
}

/* ABOUT US */
.about-us-container {
  padding: 20px 30px;
  padding-top: 20%;
  background-color: var(--clr-accent);
  clip-path: polygon(50% 0%, 100% 15%, 100% 100%, 0 100%, 0 15%);
}

.car-park-image-container {
  margin-bottom: 50px;
}

/* SCREENSHOT */
.screenshot-container {
  padding: 2rem;
  display:flex;
  flex-direction: column;
  background-image: url('assets/bg-sample.png');
  background-repeat: no-repeat;
  background-size: cover;
  gap: 2rem;
}

.gift-img:hover {
  cursor: pointer;
}

.gift-img {
  position:relative;
  display: grid;
  place-items: center;
}

.wiener-gift {
  position: absolute;
  align-self: center;
  justify-self: center;
  padding: .5rem;
  border-radius: 5%;
  width: 100%;
  aspect-ratio: 2/1;
  scale: .7;
  display: flex;
  flex-direction: column;
  gap: .2rem;
}


.code-icons {
  display:flex;
  margin-top: auto;
  justify-content: space-between;
  align-items: center;
  padding: 0;

}

.code-icons img {
  aspect-ratio: 1/1;
}

.code-icons img:nth-child(1) {
  margin-left: 0;
  height: 20px;
}

.code-icons img:nth-child(2) {
  margin-right: 0;
  height: 40px;
}

.failed {
  position:absolute;
  align-self: center;
  justify-self: center;
  background-color: var(--clr-accent);
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  place-items: center;
  color: red;
  border-radius: 100%;
  scale: .5;
  font-size: 4rem;
}

.gift-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

/* CONTACT */
.contact-container {
  display:flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 2rem;
}

.contact-info-container {
  display: flex;
  align-items: center;
  width: fit-content;
  gap: 1.5rem;
}

.push-right {
  margin-left: auto;
}

/* FOOTER */
.socials {
  display:flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
}

.social-icons-container {
  display:flex;
  width: fit-content;
  gap: 2rem;
  margin-inline: auto;
}

.outro {
  clip-path: polygon(49% 8%, 100% 0, 100% 100%, 0 100%, 0 0);
  display:flex;
  flex-direction: column;
  gap: 1rem;
  padding: 5% 2rem;
}